<div class="row-fluid">
  <div class="span5 well">
    <h1>Login</h1>
    <%= render 'form' %>
  </div>
  <div class="span2">
    <h3>Login</h3>
    <h1>or</h1>
    <h3>Create Account</h3>
  </div>
  <div class="span5 well">
    <h1>Create Account</h1>
    <%= render 'users/form' %>
  </div>
</div>
