<div class="row-fluid">
  <div class="span4 well">
    <h1>Login</h1>
    <%= render 'form' %>
  </div>
  <div class="span4 well">
    <h1>Create Account</h1>
    <%= render 'users/form' %>
  </div>
</div>
