<div class="span1">
  <h1>
    <%=  link_to size.name, size %>
  </h1>
  <p>
    <%= link_to "remove?", size_path(size), method: :delete, confirm: "cannot be undone", class: 'btn btn-inverse btn-mini' %>
  </p>
</div>
